@model RecruitMe.Web.ViewModels.JobOffers.JobOfferDetailsViewModel
@using RecruitMe.Common
@{
    ViewData["Title"] = Model.Position;
    var officeAddress = Model.OfficeAddress != null ? ", " + Model.OfficeAddress : string.Empty;
    var jobTypes = string.Join("; ", Model.JobTypes);
    var languages = string.Join("; ", Model.Languages);
    var skills = string.Join("; ", Model.Skills);
}

<h1 style="display:inline-block">@ViewData["Title"]</h1>
<a class="btn btn-warning float-right" href="javascript:history.go(-1)">Back to List</a>
@if (this.User.Identity.Name == Model.EmployerApplicationUserUserName)
{
    <a class="btn btn-info float-right" style="margin-right:0.5rem" asp-controller="JobOffers" asp-action="Edit" asp-route-id="@Model.Id">Edit Details</a>
}
@if (this.TempData["AlreadyAppliedMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlreadyAppliedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (this.TempData["SuccessfulApplication"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessfulApplication"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="display:inline-block">Position Details:</h5>
        <p class="card-text"><strong>Employer: </strong>@Model.EmployerName</p>
        <p class="card-text"><strong>City: </strong>@Model.City; <strong>Position Level: </strong>@Model.JobLevelName;<strong>Type: </strong>@jobTypes; <strong>Sector: </strong>@Model.JobSectorName</p>
        @if (Model.Salary.HasValue)
        {
            <p class="card-text"><strong>Salary: </strong>@Model.Salary € </p>
        }

        <p class="card-text"><strong>Required Languages: </strong>@languages; <strong>Required Skills: </strong>@skills </p>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Position Description:</h5>
        <p class="card-text">@Html.Raw(Model.Description)</p>
        @if (this.User.IsInRole(GlobalConstants.CandidateRoleName))
        {
            <div class="text-center">
                <a class="btn btn-success align-center" asp-controller="JobApplications" asp-action="Apply" asp-route-jobOfferId="@Model.Id">Apply</a>
            </div>
        }

    </div>
</div>