@model RecruitMe.Web.ViewModels.Administration.DocumentCategories.AllDocumentCategoriesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Document Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Deleted
            </th>
            <th>
                Deleted On
            </th>
            <th>
                Created On
            </th>
            <th>
                Modified On
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DocumentCategories.Count() == 0)
        {
            <tr>
                <td>
                    No document categories to show.
                </td>
            </tr>
        }
        @foreach (var item in Model.DocumentCategories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @(item.IsDeleted == true ? "Yes" : "No")
                </td>
                <td>
                    @item.DeletedOn
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.ModifiedOn
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled"><a class="page-link" style="margin: 5px" href="#"><icon class="fas fa-angle-left"></icon></a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" style="margin: 5px" href="~/Administration/DocumentCategories/Index?page=@Model.PreviousPage"><icon class="fas fa-angle-left"></icon></a></li>
        }

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;

            <li class="page-item @active"><a class="page-link" style="margin: 5px" href="~/Administration/DocumentCategories/Index?page=@i">@i</a></li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount || this.Model.PagesCount == 0)
        {
            <li class="page-item disabled"><a class="page-link" style="margin: 5px" href="#"><icon class="fas fa-angle-right"></icon></a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" style="margin: 5px" href="~/Administration/DocumentCategories/Index?page=@Model.NextPage"><icon class="fas fa-angle-right"></icon></a></li>
        }
    </ul>
</nav>